* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container{
  padding: 0 100px 0 100px;
}

.bold{
  font-weight: bold;
}

nav ul,
.main-info-section,
.work-category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body{
  background-color: #252627;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar{
  background-color: #181818;
}

.navbar-button:hover{
  color: #ca3e47;
  transition: all .3s;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
  color: #707070;
}

li{
  list-style: none;
  margin-left: 30px;
}

a{
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.main-info-section{
  height: 100vh;
}

.text{
  margin-top: 120px;
}

.text h1{
  color: white;
  font-size: 3rem;
  cursor: context-menu;
}
/* Styling intro text */
.text span {
  display: inline-block
}

span:hover{
  color: #ca3e47;
  transition: all .5s;
}

/* span.v:hover{
  color: #3fd328;
  transition: all .5s;
}
span.a:hover{
  color: yellow;
  transition: all .5s;
}
span.r:hover{
  color: red;
  transition: all .5s;
} */

span.name {
  color: #ca3e47;
}
span.name:hover{
  color: white;
  transition: all .5s;
}

span.m-left{
  margin-left: -10px;
}
/* Styling Button */
.text p{
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

.text a {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ca3e47;
  color: #ca3e47;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.text a:hover{
  color: white;
}

/* Animation for the button of contact me */
.text a::before{
  content: '';
  background-color: #ca3e47;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before{
  height: 100%;
}

.profile-image img{
  width: 500px;
  margin-top: 50px;
}

.about{
  height: 90vh;
  margin-top: 100px;
  margin-bottom: 0;
}

.about h1,
.work h1 {
  font-size: 10rem;
  z-index: 0;
  opacity: .1;
}

.about-me-info{
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.about-me-info p{
  font-size: 1.3rem;
  color: #BEBEBE;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
  margin-top: 30px;
}

.about img {
  width: 300px;
  position: relative;
  top: -300px;
  left: calc(100% - 15%);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% + 100px));
}

.skills{
  min-height: 100vh;
  padding-bottom: 80px;
  padding-top: 80px;
}

.skills h1,
.contact h1 {
  text-align: right;
  font-size: 10rem;
  opacity: .1;
}

.skills-info{
  font-size: 1.4rem;
  color: #BEBEBE;
  max-width: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

.html {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

div[class^='tag-'] {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
  width: 120px;
  height: 30px;
  background-color: #1785A5;
  margin-right: 30px;
}

div[class^='tag-'] p{
  color: white;
  text-align: left;
  padding-left: 10px;
  font-size: 1.1rem;
  padding-top: 3px;
}

.progressbar {
  position: relative;
  width: 600px;
  height: 20px;
  border: 2px solid #48CFAD;
  height: 12px;
  border-radius: 20px;
  margin-top: 7px;
}

div[class^='bar-'] {
  position: absolute;
  background-color: #48CFAD;
  height: 9px;
  border-radius: 20px;
}

.bar-flutter,
.bar-java,
.bar-html,
.bar-css,
.bar-javascript,
.bar-angular
.bar-sql,
.bar-nosql {
  width: calc(0 - 6px);
}

.work-category button {
  text-transform: capitalize;
  border: 3px solid #ca3e47;
  padding: 15px 30px;
  border-radius: 50px;
  color: #ca3e47;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: #252627;
  outline: none;
  cursor: pointer;
}

div[class^='category-'] {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.work{
  height: 100vh;
}

.work a {
  justify-self: center;
  position: relative;
  display: inline-block;
}


.work-category .active{
  background-color: #ca3e47;
}

button.active{
  color: white;
}

.work a img {
  width: 350px;
  justify-self: center;
}

div.hideCategory {
  display: none;
}

.showCategory {
  display: block;
}

.contact {
  margin-top: 50px;
}

form input,
form textarea {
  display: block;
  width: 500px;
  padding: 20px;
  background-color: #252627;
  border: 3px solid #707070;
  margin: 20px 0;
  outline: none;
  font-size: 1.2rem;
  color: white;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

form input:last-child {
  width: 150px;
  background-color: #ca3e47;
  border: none;
  cursor: pointer;
}

footer br {
  border: 2px solid #707070;
  margin-top: 80px;
}

footer p {
  text-align: center;
  color: #707070;
  font-size: 1.2rem;
  padding: 30px 0;
}
